 <div class="row" action="/register" method="POST">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="first_name" placeholder="First Name" type="text" class="validate">
        </div>
        <div class="input-field col s4">
          <input id="last_name" placeholder="Last Name" type="text" class="validate">
        </div>
        <div class="input-field col s4">
          <input id="age" type="text" placeholder="Age" class="validate">
        </div   >
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" placeholder="E-mail">
        </div>
      </div>  
      <button type="submit" class="btn">Register</button>  
    </form>
  </div>